/*MAIN STYLE OF YTHE DOCUMENTS AND ITS DIFFERRENTS PARTS*/
/* RESPONSIVEE STYLES*/
body div{
    display: flex;
    flex-direction: row;
}

@media all and (min-width: 0px) and (max-width: 840px) {
    #query{
        display: flex;
        clear: both;
    }

    body{
        margin: auto 25px;
    }
}


html{
    height:100%;
    background-color: Grey;
}

body{
    height:100%;
    position: relative;
}

#wrap{
    min-height:100%;
    position: relative;
}

#main{
    position: relative;
    padding-bottom: 100px;
}
